<% layout('layout') %>

<% block('meta_og').append('<meta property="og:type" content="website" />') %>
<% block('meta_og').append('<meta property="og:title" content="' + title + '" />') %>

<h2>Index</h2>

<ul>
  <li><a href="/like_jssdk">Like jssdk</a></li>
  <li><a href="/like_iframe">Like iframe</a></li>
</ul>

